
.hotels__footer{
    padding-left: 72px;
    padding-right: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 120px;
    background-color: white;
}

.footer__social--link{
    margin: 0;
    display: flex;
}

.footer__social--link li{
    list-style: none;
    padding-right: 5px;
}
.footer__social--link a{
    width: 46px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81b3d2;

}
.footer__develop{
    display: flex;
    align-items: center;
}
.footer__develop p{
    margin-right: 10px;
}
