body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 1200px;
    margin: 0 auto;
}

.main__gallery {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/background photo.png");
    background-position: 0 -55px;
    background-repeat: no-repeat;
}

.gallery--welcome {
    padding-top: 76px;
    padding-bottom: 11px;
}

.gallery--to {
    padding-bottom: 52px;
    position: relative;
}

.gallery--to--decor {
    position: absolute;
    top: 10px;
    left: -40px;
}

.gallery--sedona {
    padding-bottom: 56px;
}

.gallery--because {
    padding-bottom: 11px;
}

.main__about {
    width: 100%;
    min-height: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__title {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.main__about p {
    text-transform: uppercase;
    color: #333333;
}

.main__about-first {
    display: flex;
}

.about-first__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background-color: #81b3d2;
    color: white;
}

.about-first__title {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-first__text p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.main__about-service {
    display: flex;
    min-height: 330px;
}

.about__service {
    width: 402px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__service p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.main__about-secondary {
    display: flex;
}

.main__about-secondary--text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #81b3d2;
    color: white;
}

.about-secondary__title {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: bold;
}

.main__about-2--text p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.main__about--advantage {
    display: flex;
    min-height: 256px;
    background-color: #eeeeee;
}

.about__advantage {
    width: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__advantage--title {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__advantage p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.booking {
    min-height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking__title {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.booking p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.booking__btn {
    padding: 37px 140px;
    margin-top: 52px;
    background-color: #766357;
    color: white;
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
    border: none;
}

.booking__pop-up {
    width: 570px;
    height: 397px;

}
.pop-up__grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pop-up__grid label{
    height: 37px;
}
.date-come{
    padding-top: 55px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.date-come input,
.date-gone input {
    width: 345px;
    background-color: grey;

}

.number-adult input,
.number-children input{
    width: 114px;
}