body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 1200px;
    margin: 0 auto;
}

.main__gallery {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/background photo.png");
    background-position: 0 -55px;
    background-repeat: no-repeat;
}

.gallery--welcome {
    padding-top: 76px;
    padding-bottom: 11px;
}

.gallery--to {
    padding-bottom: 52px;
    position: relative;
}

.gallery--to--decor {
    position: absolute;
    top: 10px;
    left: -40px;
}

.gallery--sedona {
    padding-bottom: 56px;
}

.gallery--because {
    padding-bottom: 11px;
}

.main__about {
    width: 100%;
    min-height: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__title {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.main__about p {
    text-transform: uppercase;
    color: #333333;
}

.main__about-first {
    display: flex;
}

.about-first__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background-color: #81b3d2;
    color: white;
}

.about-first__title {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-first__text p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.main__about-service {
    display: flex;
    min-height: 330px;
}

.about__service {
    width: 402px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__service p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.main__about-secondary {
    display: flex;
}

.main__about-secondary--text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #81b3d2;
    color: white;
}

.about-secondary__title {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: bold;
}

.main__about-2--text p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.main__about--advantage {
    display: flex;
    min-height: 256px;
    background-color: #eeeeee;
}

.about__advantage {
    width: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__advantage--title {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__advantage p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.booking {
    padding-top: 55px;
    position: relative;
    width: 568px;
    margin: 0 auto;
}

.booking__title {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.booking__text {
    width: 70%;
    line-height: 24px;
    margin-bottom: 55px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #333333;
}

.booking__form--btn {
    width: 570px;
    height: 87px;
    outline: none;
    border: none;
    padding: 0;
    font-size: 21px;
    line-height: 86px;
    color: #ffffff;
    margin: 0 auto;
    background-color: #766357;
    text-align: center;
    cursor: pointer;
}

.booking__form--btn:hover,
.booking__form--btn:focus {
    background-color: #604e43;
}

.booking__form--btn:active {
    background-color: #503e33;
}

.booking__form {
    display: none;
    width: 568px;
    min-height: 480px;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 370px;
    margin-left: -284px;
    /*box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);*/
    font-weight: 700;
    font-size: 0;
}

.booking__form--grid {
    background-color: #ffffff;
    padding: 56px 55px;
    min-height: 395px;
    box-sizing: border-box;
}


.form__grid--wrap {
    margin-bottom: 29px;
}

.booking__form--grid label {
    display: inline-block;
    width: 112px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 21px;
}

.booking__form--grid input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.booking__form--grid input[type="text"],
.booking__form--grid input[type="number"] {
    width: 100%;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    color: #000000;
    text-transform: uppercase;
    padding: 0 40px 0 14px;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.booking__form--grid input[type="text"]:hover,
.booking__form--grid input[type="number"]:hover {
    background-color: #ebebeb;
}

.form__adults {
    width: 233px;
    margin-right: 45px;
}

.form__children {
    width: 180px;
}


.form__adults,
.form__children {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 55px;
}

.booking__form--grid input[id="adults"],
.booking__form--grid input[id="children"] {
    width: 100%;
    padding: 0 40px;
    text-align: center;
    box-sizing: border-box;
}

.booking__form--grid input[type="number"] {
    text-align: center;
}

.children label {
    width: 65px;
}

.booking--btn {
    width: 100%;
    height: 58px;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
}
.booking--btn:hover,
.booking--btn:focus{
    background-color: #669ec0;
}
.booking--btn:active{
    background-color: #5496bd;
    color: rgba(255,255,255, 0.4);
}

.check--grid {
    display: inline-block;
    position: relative;
    width: 346px;
}

.input-wrapper {
    width: 114px;
}

label.booking__form--calendar {
    width: 22px;
    height: 22px;
    background-image: url("../img/calendar.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 9px;
    margin-top: -12px;
    font-size: 0;
    cursor: pointer;
}


.booking__form--minus {
    width: 24px;
    height: 20px;
    background-image: url("../img/-.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 8px;
    margin-top: -10px;
    font-size: 0;
}

.booking__form--plus {
    width: 24px;
    height: 20px;
    background-image: url("../img/+.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -10px;
    font-size: 0;
}




